<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="1071netdbConnectionString" connectionString="Data Source=140.138.144.66\SQL1422;Initial Catalog=1071netdb;Persist Security Info=True;User ID=1071netdb;Password=yzuim1071netdb" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
</configuration>